<script type="text/template" id="forecast_template">
	<div class="forecast">
		<%
			var previousDay = null;

		    _.each(list, function(item, key){

		    var date = new Date(item.dt_txt),
		    	day = date.getDate(),
		    	months = ["January","February","March","April","May","June","July","August","September","October","November","December"],
		    	month = months[date.getMonth()],
		    	hours = date.getHours(),
		    	minutes = date.getMinutes(),
		    	time = hours + ':' + (minutes < 10 ? '0' : '') + minutes,
		    	showNewDay = (previousDay == day ? false : true);

		    previousDay = day;
		%>

		<% if (showNewDay == true) { %>
			<div class="forecast__date">
				<%= day %> <%= month %>
			</div>
		<% } %>

		<div class="forecast__item">
			<div class="forecast__description">
				<div class="forecast__time">
					<%= time %>
				</div>

				<%
				    _.each(item.weather,function(weather, key){
				%>
					<div>
						<div class="icon icon_<%= weather.icon %> icon_weather" title="<%= weather.description %>"></div>

						<span class="forecast__weather-description"><%= weather.description %></span>
					</div>
				<%
				    });
				%>

				<table class="forecast__conditions">
					<tr>
						<td>
							<span class="forecast__label">Temp:</span> 
						</td>
						<td>
							<% if (item.main.temp > 0) { %>+<% } %><%= item.main.temp %>&deg;C
						</td>
					</tr>	
					<tr>
						<td>
							<span class="forecast__label">Pressure:</span> 
						</td>
						<td>
							<%= item.main.pressure %>
						</td>
					</tr>	
					<tr>
						<td>
							<span class="forecast__label">Humidity:</span> 
						</td>
						<td>
							<%= item.main.humidity %>%
						</td>
					</tr>	
					<tr>
						<td>
							<span class="forecast__label">Cloudiness:</span> 
						</td>
						<td>
							<%= item.clouds.all %>%
						</td>
					</tr>	
					<tr>
						<td>
							<span class="forecast__label">Wind speed:</span> 
						</td>
						<td>
							<%= item.wind.speed %> meter/sec 
						</td>
					</tr>
				</table>	
			</div>
		</div>

		<%
		    });
		%>
	</div>
</script>