.header {
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
	background: #262626;
	z-index: 100;
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	&__layout {
		height: 44px;
		max-width: 700px;
		margin: 0 auto;
		position: relative;
	}

	&__btn {
		padding: 14px;
		height: 16px;
		width: 16px;
		background: transparent;

		&:hover {
			background: transparent;
		}

		&:active {
			padding: 15px 14px 13px 14px;
		}

		&.active {
			background: #BB8F5C;
		}
	}

	&__drop-down {
		background: #fff;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		box-shadow: 0px 3px 5px rgba(93,109,157,0.3);
	}
}
 
.icon_search {
  .sprite(@search);
}

.icon_menu {
  .sprite(@menu);
}

.overlay {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,.15);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-out;
}

.overlay_show{
	visibility: visible;
	opacity: 1;
}
