.header {
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
	background: #262626;
	z-index: 100;

	&__layout {
		height: 44px;
		max-width: 700px;
		margin: 0 auto;
	}

	&__btn {
		padding: 14px;
		height: 16px;
		width: 16px;

		&.active {
			background: #BB8F5C;
		}
	}
}

